trunk/de.akra.idocit.wsdl/test/source/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerService"
	targetNamespace="http://www.company.de" xmlns:comp="http://www.company.de"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.company.de"
			xmlns:tns="http://www.example.org/CompanySchema">
			<xsd:import namespace="http://www.example.org/CompanySchema"
				schemaLocation="CompanySchema.xsd" />
			<xsd:element name="findCustomerByIdResponse" type="comp:findCustomerByIdResponse1" />
			<xsd:element name="findCustomerByIdRequest" type="comp:findCustomerByIdRequest1" />
			<xsd:complexType name="findCustomerByIdRequest1">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="findCustomerByIdResponse1">
				<xsd:sequence>
					<xsd:element name="customer" type="tns:Customer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Customer">
				<xsd:sequence>
					<xsd:element name="id" type="int" />
					<xsd:element name="firstname" type="string" />
					<xsd:element name="lastname" type="string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="faultResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="faultCode" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="findCustomerByIdResponse">
		<wsdl:part name="result" element="comp:findCustomerByIdResponse">
			<wsdl:documentation>

			</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="faultResponse">
		<wsdl:part name="fault" element="comp:faultResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="findCustomerByIdRequest">
		<wsdl:part name="parameters" element="comp:findCustomerByIdRequest">
			<wsdl:documentation>

			</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerService">
		<wsdl:documentation>
			<docpart role="AGENT" scope="EXPLICIT">
				<addressee group="Developer">This
					service provides operations offered
					by the customer-care department.</addressee>
			</docpart>
			<docpart role="LOCATION" scope="IMPLICIT">
				<addressee group="Developer">This service provides
					operations offered
					by the customer-care department.</addressee>
			</docpart>
		</wsdl:documentation>
		<wsdl:operation name="find">
			<wsdl:documentation>
				<docpart role="ACTION" scope="EXPLICIT">
					<addressee group="System Builder">Returns the customer for the given id.
						If the id is unknown, the result will be null.</addressee>
				</docpart>
				<docpart role="LOCATION" scope="EXPLICIT">
					<addressee group="Builder">The configured SAP CRM is used as
						database where to search the customer.</addressee>
				</docpart>
			</wsdl:documentation>
			<wsdl:input message="comp:findCustomerByIdRequest">
				<wsdl:documentation>
					<docpart role="ACTION" scope="IMPLICIT" signatureElement="findCustomerByIdRequest">
						<addressee group="Manager">Manager</addressee>
					</docpart>
					<docpart role="OBJECT" scope="EXPLICIT"
						signatureElement="findCustomerByIdRequest.parameters(findCustomerByIdRequest)">
						<addressee group="Developer">asdf</addressee>
						<addressee group="Architect">Architect</addressee>
					</docpart>
					<docpart role="CRITERION" scope="EXPLICIT"
						signatureElement="findCustomerByIdRequest.parameters(findCustomerByIdRequest).findCustomerByIdRequest(findCustomerByIdRequest1).id(int)">
						<addressee group="Developer">This service provides operations
							offered
							by the customer-care department.</addressee>
					</docpart>
				</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="comp:findCustomerByIdResponse">
				<wsdl:documentation>
					<docpart role="OBJECT" scope="EXPLICIT" signatureElement="findCustomerByIdResponse">
						<addressee group="Developer">The webservice response message with
							the found customer.</addressee>
						<addressee group="Architect"></addressee>
					</docpart>
					<docpart role="OBJECT" scope="EXPLICIT"
						signatureElement="findCustomerByIdResponse.result(findCustomerByIdResponse).findCustomerByIdResponse(findCustomerByIdResponse1).customer(Customer)">
						<addressee group="Developer">The found Customer.</addressee>
					</docpart>
					<docpart role="OBJECT" scope="EXPLICIT"
						signatureElement="findCustomerByIdResponse.result(findCustomerByIdResponse).findCustomerByIdResponse(findCustomerByIdResponse1).customer(Customer).id(int)">
						<addressee group="Developer">The ID of the found Customer.</addressee>
					</docpart>
				</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="fault1" message="comp:faultResponse">
				<wsdl:documentation>
					<docpart role="OBJECT" scope="EXPLICIT"
						signatureElement="faultResponse.fault(faultResponse).faultResponse(anonymous).faultCode(int)">
						<addressee group="Developer">The error code if anything goes wrong.</addressee>
					</docpart>
				</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerServiceSOAP" type="comp:CustomerService">
		<wsdl:documentation>
			Dies ist eine tolle Doku!
		</wsdl:documentation>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="find">
			<soap:operation soapAction="http://www.company.de/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerService">
		<wsdl:port name="CustomerServiceSOAP" binding="comp:CustomerServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
